.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000bb;
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
    z-index: 2;

    &.hidden {
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
        transition: all 200ms;
    }

    .popup {
        position: relative;
        margin: 20vh auto;
        padding: 40px 40px 20px;
        width: fit-content;
        box-sizing: border-box;
        border-radius: 20px;
        color: #000;
        background-color: #fff3af;
        border: 4px solid #FFD900;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .fa-xmark {
            position: absolute;
            top: 12px;
            right: 12px;
            cursor: pointer;
        }

        .title {
            color: #FF9600;
            text-align: center;
            font-size: 40px;
            font-weight: bold;
        }

        .btn-receive {
            width: 100%;
            padding: 8px;
            color: #FF9600;
            background-color: #FFD900;
            border-radius: 12px;
            font-weight: bold;
        }
    }
}