.loginregister-container {
    .card-box {
        .card-body {
            form {
                .form-input-register {
                    i {
                        &.dobble-icon {
                            left: 10px;
                            color: #444;
                        }
                    }
                }

                .form-check-register {

                    .provision {
                        padding: 4px 6px;
                        border-radius: 6px;
                        color: #fff;
                        background-color: #374151;
                        border: 1px solid #ccc;
                        box-sizing: border-box;
                        text-decoration: none;
                        cursor: pointer;
                    }

                    .label-accept {
                        border-bottom: 2px solid transparent;
                        box-sizing: border-box;
                    }
                }

                .form-otp {
                    display: flex;
                    gap: 12px;
                    margin: 12px 0 0;

                    .btn {
                        min-width: 128px;
                        border: none;
                        color: #888;

                        &:hover {
                        }

                        &:active {
                        }

                        &:disabled {
                        }
                    }

                    .form-input-register {
                        flex: 1;

                        input[type='number']::-webkit-outer-spin-button,
                        input[type='number']::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}