/* .payment-status {
    width: 100%;
    background-color: #fdfdfd;
    font-family: 'Inter', Arial, sans-serif;

    .payment-status-content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            margin: 0 0 20px;
        }

        p {
            margin: 0;
        }

        .payment-status-card {
            width: fit-content;
            height: fit-content;
            margin: 180px 0 220px;
            padding: 60px 40px;
            background-color: #ffffff;
            border: none;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            i {
                font-size: 50px;
            }

            .payment-active-button {
                width: 100%;
                margin: 20px 0 0;
                display: flex;
                justify-content: space-evenly;

                .btn,
                .btn:focus {
                    color: #ffffff;
                    background-color: #fb8b24;
                    font-weight: bold;
                    border: none;
                    border-radius: 7px;
                }
    
                .btn:hover {
                    color: #ffffff;
                    background-color: #d97720;
                }
            }
        }
    }
} */

.payment-status {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: linear-gradient(135deg, #a259ff20, #a8ff0020);
    font-family: "Inter", sans-serif;

    .card {
        /* background: #fff; */
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        text-align: center;
        padding: 40px 50px 24px;
        width: 360px;
        animation: fadeIn 0.6s ease-in-out;

        .icon {
            background: linear-gradient(135deg, #a8ff00, #a259ff);
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin: 0 auto 20px auto;
            box-shadow: 0 6px 15px rgba(162, 89, 255, 0.3);

            color: white;
            font-size: 120px;
            font-weight: bold;
            align-content: center;

            .fa-spinner {
                animation: payment_loading 1.5s linear infinite;
            }
        }

        .title {
            font-size: 22px;
            color: #fff;
            margin: 0 0 24px;
            font-weight: bold;

            &.success {
                text-shadow: 0 4px 12px #28a745;
            }

            &.fail {
                text-shadow: 0 4px 12px #dc3545;
            }
        }

        .btn-continue {
            background: linear-gradient(135deg, #a259ff, #a8ff00);
            color: #fff;
            border-radius: 10px;
            padding: 8px 16px;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 8px 20px rgba(162, 89, 255, 0.4);
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes payment_loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}